@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-main {
  width: 80%;
  margin: 0 auto;
}
img {
}
.home_section1 {
  position: relative;
}
img {
  overflow: hidden !important;
}
.section1__inner {
  position: absolute;

  left: 8%;
  top: 15%;
  z-index: 1222222222222;
}

.home_section1 {
  max-width: 100% !important;

  img {
    max-width: 100%;
    overflow: hidden;
  }
}
.section1__inner {
  p {
    color: #09a24f;
    font-weight: 700;
    font-size: 18px;
  }
  h1 {
    color: #ffffff;
    font-size: 80px;
    width: 600px;
  }
  .btn-apply {
    background-color: #09a24f;
    color: white;
    text-align: center;
    height: 60px;
    width: 250px;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
}
.home_section2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .box-main-first {
    display: flex;
  }
  .box-main-second {
    display: flex;
  }
}
.box {
  width: 379.8px;
  display: flex;
  gap: 10px;
  height: 132px;
  padding: 20px 30px;
  color: white;
  i {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
    font-family: "Hind", sans-serif;
  }
  p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    width: 254px;
  }
}
.box-2,
.box-4 {
  background-color: #09a24f;
}
.box-1,
.box-3 {
  background-color: #36348e;
}

@media (max-width: 1024px) {
  .home_section2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .home_section2 {
    display: flex;
    flex-direction: column;
  }
}

#home-sec-3 {
  margin: 120px 0;
  height: 1050px;
  h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 58px;
    font-family: "Hind";
    text-align: center;
    margin-bottom: 60px;
  }
  .sect-3-img {
    display: flex;
    justify-content: center;
    position: relative;
    img {
      max-width: 1290px;
      height: 570px;
    }
  }
  .form-sect-3 {
    padding: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    width: 1070px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    form {
      input {
        width: 465.35px;
        height: 39.6px;
        display: flex;
        flex-direction: column;
        padding: 5px 15px;
        border: 1px solid rgb(198, 198, 198);

        /* flex-wrap: wrap; */
      }
      .inp-1,
      .inp-2,
      .inp-3,
      .inp-4 {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
      }

      .inp-date {
        width: 100%;
      }
      textarea {
        width: 100%;
        padding: 5px 15px;
        height: 150px;
        margin: 20px 0;
        border: 1px solid rgb(198, 198, 198);
      }
      .btn-apply {
        background-color: #36348e;
        color: white;
        text-align: center;
        height: 50px;
        padding: 10px;
      }
    }
  }
}

#home-sec-4 {
  background-color: #f8f6fe;
  .sect-4-all {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 150px 0;
  }
  .left-part {
    h1 {
      font-size: 100px;
      font-weight: 600;
      line-height: 58px;
      font-family: "Hind";
      margin-bottom: 60px;
    }
    p {
      width: 620px;
      color: rgb(130, 130, 130);
    }
    .btn-apply {
      background-color: #36348e;
      color: white;
      text-align: center;
      height: 50px;
      width: 200px;
      padding: 10px;
    }
  }
  .right-part img {
    width: 629px;
    height: 440px;
  }
}

#home-sec-5 {
  padding: 100px 0;
  color: white;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    font-family: "Hind";
    margin-bottom: 60px;
    text-align: center;
  }
  .box-sect5 {
    display: flex;

    .box1-sect5,
    .box3-sect5 {
      background-color: #09a24f;
      width: 444px;
      height: 320px;
      padding: 50px;
      text-align: center;

      .box-img {
        i {
          font-size: 35px;
          border: 1px solid white;
          border-radius: 50%;
          padding: 15px;
        }
      }
    }
    .box2-sect5 {
      background-color: #36348e;
      width: 400px;
      height: 320px;
      display: flex;
      justify-content: center;
      align-items: center;

      .major-box {
        width: 280px;
        display: flex;
        align-items: center;
        height: 60px;
        gap: 20px;
        border: 1px solid rgb(80, 78, 175);
        padding: 10px;
        margin-bottom: 20px;
        i {
          font-size: 35px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}

#home-sec-6 {
  background-image: url("../image/sec-5.jpg");
  height: 510px;
  background-image: cover;
  background-position: center;
  margin: 100px 0; 
  
.shadow-div{
    background-color: rgba(0, 0, 0, 0.792);
    height: 510px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        width: 740px;
        text-align: center;
        margin: 30px;
    }
    .btn-apply{
        background-color: #09a24f;
        color: white;
        text-align: center;
        height: 50px;
        width: 200px;
        padding: 10px;
    }
}
}
