@media (max-width: 768px) { 
    .about_header{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-text{
        border: none;
    }
    .about_content_top{
        flex-direction: column;
    }
    
    .top_image{
        width: 100%;
    }
    .top_cards{
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 40px;
    }
    .top_card{
        width: 100%;
    }
}



@media (max-width: 400px) {
    .about_cards{
        flex-direction: column;
    }
}






/* MISSION PART */



.missions-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.left_mission_column{
    display: flex;
    flex-direction: column;
}
.right_mission_column{

}